/* Navbar */
.navbar {
    background-color: #212529;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .form-control {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
  }
  
  .btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
  }
  
  /* News */
  #newsType {
    justify-content: center;
    margin-top: 2rem;
  }
  
  #newsdetails {
    margin-top: 2rem;
  }
  
  .card {
    margin-bottom: 2rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.2rem;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 2rem 0;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .footer-socials img {
    margin-right: 1rem;
  }
  
  .footer-socials a:hover img {
    opacity: 0.7;
  }
  